{% extends "base.html" %}
{% block content %}


<h1>Client Details Page</h1>
<!-- Bootstrap card -->

 
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ client_record.full_name }}</h5>
      <p class="card-text">{{ client_record.phone }}</p>
      <p class="card-text">{{ client_record.city }}</p>
      <p class="card-text">{{ client_record.email }}</p>
      <a href="{% url 'home' %}" class="btn btn-primary">Go Back</a>
      <a href="{% url 'client_delete' client_record.id %}" class="btn btn-danger">delete</a>
    </div>
  </div>

{% endblock %}

