{% extends "base.html" %}
{% block content %}




    {% if user.is_authenticated %}

      <h1>Client List</h1><br>
      <p>
        <a href="{% url 'add_client'%}" class="btn btn-primary">Add New</a><br>
      </p>

      <!-- This table from Bootstraap Docs -->
      <table class="table table-primary table-hover">  
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">City</th>
            <th scope="col">Created at</th>
            <th scope="col">ID</th>
          </tr>
        </thead>
        <tbody class="table table-striped">
          <tr>
            {% if clients %}
              {% for client in clients %}
              <!-- using the a tag to make the client's name clickabe and the client id to pass the pk to the function -->
                <td><a href="{% url 'client' client.id %}">{{ client.full_name }}</a></td>  
                <td>{{ client.email }}</td>
                <td>{{ client.phone }}</td>
                <td>{{ client.city }}</td>
                <td>{{ client.date_created }}</td>
                <td>{{ client.id }}</td>
                <td><a href="{% url 'products_purchased' client.id %}">Product</a></td>
                  </tr>
              {% endfor %}
            {% endif %}
          
        </tbody>
      </table>

        

        

      {% else %}

    <h1>Login</h1>
    <br>
    <form method="post" action="{% url 'home' %}">
        {% csrf_token %}
        <form>
            <div class="mb-3">
              <input type="text" class="form-control" name="username" placeholder="Username" required>
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            <br>           
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        

    </form>



</div>
{% endif %}
{% endblock %}